.write-rating-box {
    padding-top: 5px;
    padding-bottom: 0px;
    border-bottom: 1px solid #E0E0E0;
}

.rating-label {
    display: inline-block;
    width: 80px;
}

.rating {
  border: none;
  display: inline-block;
  vertical-align: middle;;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 0px 10px;
  font-size: 1.75em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
  cursor: pointer;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/*** My custom code for disabled state ***/

.rating > input:disabled + label {
    color: #F5F5F5 !important;
    cursor: default;
}
